body {
    margin: 0;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background-color: lightyellow;
    width: 200px;
    position: fixed;
    overflow: auto;
}

.item a{
    display: flex;
    align-items: center;
    height: 30px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.item a:hover {
    background-color: lightblue;

}

.item a.active {
    color:white;
    background-color: skyblue;
}